<table>
    <tr>
        <td><a href="{{site.baseurl}}/">Home</a></td>
        <td><a href="{{site.baseurl}}/snake">Snake</a></td>
        <td><a href="{{site.baseurl}}/ideas">Ideas</a></td>
        <td>
            <a href="{{site.baseurl}}/home/notebooks">Notebooks</a>
            <ul class="submenu">
                <li><a href="{{site.baseurl}}/home/notebooks/personal">Personal</a></li>
                <li><a href="{{site.baseurl}}/cute-cats/">Cute Cats</a></li>
                <li><a href="{{site.baseurl}}/emojis/">Emojis</a></li>
            </ul>
        </td>               
        <td><a href="{{site.baseurl}}/calculator">Calculator</a></td>
        <td><a href="{{site.baseurl}}/cookie%20clicker">Cookie Clicker</a></td>
        <td><a href="{{site.baseurl}}/javascript">javascript</a></td>
    </tr>
</table>

<style>
    table {
        width: 100%;
        background-color: #f9f9f9;
    }
    td {
        padding: 10px;
        position: relative;
    }
    .submenu {
        display: none;
        position: absolute;
        background-color: #fff;
        list-style: none;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
    }
    td:hover .submenu {
        display: block;
    }
    .submenu li {
        padding: 5px 10px;
    }
    .submenu li a {
        text-decoration: none;
        color: #333;
    }
    .submenu li a:hover {
        text-decoration: underline;
    }
</style>
